Repository asthmatick1dd0/CVagg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asthmatick1dd0, @smokinblackdog, @Kekzuke

.github/CODEOWNERS:

* @asthmatick1dd0

/frontend/** @smokinblackdog

/backend/** @asthmatick1dd0 @Kekzuke

/.github/** @asthmatick1dd0 @Kekzuke

Initialize go.mod and go.sum files with required dependencies
  backend/go.mod
  backend/go.sum
Owners: @asthmatick1dd0, @Kekzuke

Add Docker and Nginx configuration for backend and frontend services
  backend/dockerfile
  backend/main.go
  docker-compose.yml
  frontend/dockerfile
  frontend/index.html
  frontend/nginx.conf
Owners: @asthmatick1dd0, @Kekzuke, @smokinblackdog

Update docker-compose.yml add postgresql container
  docker-compose.yml
Owners: @asthmatick1dd0

add basic routes setup
  backend/internal/routes/routes.go
  backend/main.go
Owners: @asthmatick1dd0, @Kekzuke

Add ConnectDB for future use Add some models for DB Add new GORM dependencie driver for PostgreSQL
  backend/go.mod
  backend/go.sum
  backend/internal/database/database.go
  backend/internal/models/fields/education.go
  backend/internal/models/fields/job_experience.go
  backend/internal/models/resumes.go
  backend/internal/models/resumes_items.go
  backend/internal/models/users.go
Owners: @asthmatick1dd0, @Kekzuke

Add few more models and updated old
  backend/internal/models/about.go
  backend/internal/models/education.go
  backend/internal/models/hard_skill.go
  backend/internal/models/hard_skills_catalog.go
  backend/internal/models/job_experience.go
  backend/internal/models/resume.go
  backend/internal/models/resume_item.go
  backend/internal/models/resumes.go
  backend/internal/models/users.go
Owners: @asthmatick1dd0, @Kekzuke

Add images folder with default mascot image
  images/cvagg_mascot_default.png
Owners: @asthmatick1dd0

Update README.md
  README.md
Owners: @asthmatick1dd0

Add auto migrate data to data base aand connected db in main for testing
  backend/internal/database/database.go
  backend/main.go
  docker-compose.yml
Owners: @asthmatick1dd0, @Kekzuke

Add a few more routes and split them into different files
  backend/internal/routes/auth.go
  backend/internal/routes/editor.go
  backend/internal/routes/profile.go
  backend/internal/routes/routes.go
Owners: @asthmatick1dd0, @Kekzuke

Refactor all models for better future scalability and easier inner interactions
  backend/internal/database/database.go
  backend/internal/models/about.go
  backend/internal/models/education.go
  backend/internal/models/hard_skill.go
  backend/internal/models/job_experience.go
  backend/internal/models/resume.go
  backend/internal/models/resume_item.go
  backend/internal/models/users.go
Owners: @asthmatick1dd0, @Kekzuke

Made basic validator for auth purposes, test for it and some models for auth to use later
  backend/go.mod
  backend/go.sum
  backend/internal/models/users.go
  backend/internal/routes/routes.go
  backend/internal/validation.go
  backend/internal/validation_test.go
Owners: @asthmatick1dd0, @Kekzuke

Add base repository interface and resume item repo
  backend/internal/repository/base_repo.go
  backend/internal/repository/resume_item_repo.go
Owners: @asthmatick1dd0, @Kekzuke

Add baserepo interface realisation for resume item repo
  backend/internal/repository/resume_item_repo.go
Owners: @asthmatick1dd0, @Kekzuke

Made some restructurisation in the project
  backend/internal/models/users.go
  backend/internal/transport/dto.go
  backend/internal/transport/input.go
  backend/internal/validation/validation.go
  backend/internal/validation/validation_test.go
Owners: @asthmatick1dd0, @Kekzuke

Update .gitignore
  .gitignore
Owners: @asthmatick1dd0

Initialize React frontend application
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Owners: @smokinblackdog

Revert "Initialize React frontend application"
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Owners: @smokinblackdog

Initialize basic React application
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Owners: @smokinblackdog

Update dockerfile and docker-compose for easier backend code update in the container
  backend/dockerfile
  docker-compose.yml
Owners: @asthmatick1dd0, @Kekzuke

add user repository
  backend/internal/repository/user_repo.go
Owners: @asthmatick1dd0, @Kekzuke

Update update function in user repo
  backend/internal/repository/user_repo.go
Owners: @asthmatick1dd0, @Kekzuke

Add repositories for all resume items and new model for custom fields
  backend/internal/models/about.go
  backend/internal/models/custom.go
  backend/internal/models/education.go
  backend/internal/models/hard_skill.go
  backend/internal/models/item.go
  backend/internal/models/job_experience.go
  backend/internal/repository/about.go
  backend/internal/repository/custom_repo.go
  backend/internal/repository/educatuion_repo.go
  backend/internal/repository/hard_skill.go
  backend/internal/repository/item_repo.go
  backend/internal/repository/job_experience_repo.go
  backend/internal/repository/resume_item_repo_generic.go
Owners: @asthmatick1dd0, @Kekzuke

Implement AboutRepository with NewAboutRepository function
  backend/internal/repository/about.go
Owners: @asthmatick1dd0, @Kekzuke

Add user and resume repository
  backend/internal/repository/resume_repo.go
  backend/internal/repository/user_repo.go
Owners: @asthmatick1dd0, @Kekzuke

Implemented signing up feature
  backend/internal/parsing/query_parser.go
  backend/internal/routes/auth.go
  backend/internal/routes/routes.go
  backend/internal/transport/input.go
  backend/internal/validation/validation.go
  backend/main.go
Owners: @asthmatick1dd0, @Kekzuke

Update README.md
  README.md
Owners: @asthmatick1dd0

Update README.md
  README.md
Owners: @asthmatick1dd0

Moved signing up handler to a new directory, put user repository in local storage of iber ctx
  backend/internal/handlers/auth.go
  backend/internal/routes/auth.go
  backend/internal/routes/routes.go
  backend/main.go
Owners: @asthmatick1dd0, @Kekzuke

using default query parser now
  backend/internal/handlers/auth.go
  backend/internal/parsing/query_parser.go
  backend/internal/transport/input.go
Owners: @asthmatick1dd0, @Kekzuke

Add transport objects for resumes
  backend/internal/database/database.go
  backend/internal/repository/user_repo.go
  backend/internal/routes/routes.go
  backend/internal/transport/dto/dto.go
  backend/internal/transport/input/input.go
  backend/internal/transport/input/resume_input.go
  backend/internal/validation/validation.go
  backend/internal/validation/validation_test.go
Owners: @asthmatick1dd0, @Kekzuke

Add crud operations with resumes
  backend/internal/handlers/profile.go
  backend/internal/repository/resume_repo.go
  backend/internal/routes/profile.go
  backend/internal/service/resume_service.go
  backend/main.go
Owners: @asthmatick1dd0, @Kekzuke

Update README.md
  README.md
Owners: @asthmatick1dd0

Add hero section with shadcn Button
  frontend/components.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/cvagg_logo.svg
  frontend/public/cvagg_logo_small.svg
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/pages/LandingPage/components/HeroSection.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: @smokinblackdog

Add value section
  frontend/src/pages/LandingPage/components/ValueSection.tsx
Owners: @smokinblackdog

Add HowItWorks section
  frontend/src/pages/LandingPage/components/HowItWorks.tsx
Owners: @smokinblackdog

Add CTA section
  frontend/src/pages/LandingPage/components/CTASection.tsx
Owners: @smokinblackdog

Add footer and TextBox components
  frontend/public/github-mark-white.svg
  frontend/src/components/footer.tsx
  frontend/src/components/ui/textbox.tsx
Owners: @smokinblackdog

Implement full landing page
  frontend/src/pages/LandingPage/LandingPage.tsx
Owners: @smokinblackdog

Add routing
  frontend/src/App.tsx
Owners: @smokinblackdog
